:root {
	/*Primary*/
	--important-text-color: hsl(220, 98%, 61%);
	--header-gradient: (
		linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)
	);
	/*Dark Theme*/
	--bg-color: hsl(235, 21%, 11%);
	--box-color: hsl(235, 24%, 19%);
	--text-color: hsl(234, 39%, 85%);
	--focus-text-color: hsl(236, 33%, 92%); /*Hover*/
	--secondary-color: hsl(234, 11%, 52%);
	--Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
	--Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
	/*Light Theme*/
	--box-color: hsl(0, 0%, 98%);
	--bg-color: hsl(236, 33%, 92%);
	--secondary-color: hsl(233, 11%, 84%);
	--text-color: hsl(236, 9%, 61%);
	--focus-text-color: hsl(235, 19%, 35%);

	--Body-Copy: 1.8rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	height: 100vh;
}

body {
	background-color: var(--bg-color);
}
